<ion-content class="page-transition">
  <ion-card class="purple-card" #card>
    <ion-card-content>
      <div class="centered-image">
        <img src="assets/img/logo.png" alt="logo">
      </div>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Ingresar  Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" (ionChange)="validarNombre()" data-cy="nombre-input"></ion-input>
        </ion-item>
        <div *ngIf="mostrarMensajeNombre" class="error-message">
          Ingrese un nombre válido.
        </div>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="contrasena" type="password" (ionChange)="validarContrasena()"></ion-input>
        </ion-item>
        <div *ngIf="contrasena.length > 0 && !contrasenaValida" class="error-message">
          La contraseña debe tener al menos 4 números, 3 caracteres y 1 letra mayúscula.
        </div>
      </ion-card>

      <ion-buttons class="ion-justify-content-center">
        <ion-button (click)="login(); play()" [disabled]="!contrasenaValida || mostrarMensajeNombre" class="gradient-button">Iniciar sesión</ion-button>
      </ion-buttons>

      <br>

      <ion-buttons class="ion-justify-content-center">
        <ion-button [routerLink]="['/restablecer-contrasena']" color="primary">¿Olvidó la Contraseña?</ion-button>
      </ion-buttons>

      <br>
      <br>
      <br>

      <ion-buttons class="ion-justify-content-center">
        <ion-button [routerLink]="['/registro']" class="gradient-button">¿Aún no tienes una cuenta?</ion-button>
      </ion-buttons>
      <br>
    </ion-card-content>
  </ion-card>
  <ion-buttons>
    <ion-button (click)="stop()">Stop</ion-button>
  </ion-buttons>
</ion-content>
