<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-card class="centered-content">
      <ion-card-header>
        <ion-card-title>
          PetMatch
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="centered-content">
      <ion-list>
        <ion-item>
          <ion-input
            label="Correo electrónico"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="Ingrese su correo electrónico"
            value=""
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            type="password"
            placeholder="Ingrese su contraseña"
          >
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card class="centered-content">

    </ion-card>

  </ion-header>
</ion-content>


