<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>product-detail</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="producto.idProducto !== undefined">
    <ion-card-header>
      <ion-card-title>Mascota</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <p>Raza : </p>
        <p>{{producto.raza}}</p>
      </ion-item>
      <ion-item>
        <p>edad : </p>
        <p>{{producto.edad}}</p>
      </ion-item>
      
      <ion-button type="button" shape="round" color="primary" expand="block" href="/product-edit/{{producto.idProducto}}">Editar</ion-button>
      <ion-button type="button" shape="round" color="danger" expand="block" (click)="delete(producto.idProducto)">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

