<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/formulario" color="#1c0e2e"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/conejo.png" />
    <ion-card-header>
      <ion-card-title>Conejo de Hotot</ion-card-title>

    </ion-card-header>
    El conejo blanco de Hotot o conejo de Hotot es un lindo y pequeño conejo que se caracteriza por presentar un pelaje
    de
    un blanco impoluto, con unas marcas negras que colorean el área que rodea sus grandes y expresivos ojos. Pero no
    solo es
    llamativo el conejo de Hotot por su aspecto, pues su carácter no se queda atrás. El hotot es un conejo amable,
    cariñoso
    y muy tranquilo, que adora la compañía y atención de su familia y le encanta compartir con ellos grandes momentos.
    <ion-card-content>

    </ion-card-content>
  </ion-card>





  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/gato persa.png" />
    <ion-card-header>
      <ion-card-title>Gato persa</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Considerado comúnmente como gato aristocrático, el gato persa posee hocico respingón, cabeza redonda y
      abundante y exuberante pelaje. Son gatos hermosos, sociables, tranquilos y presumidos. Adoran ser regaloneados
      por sus dueños y eso los hace extremadamente familiares e ideales para tener en casa.
    </ion-card-content>
  </ion-card>
</ion-content>