<ion-content >
  <div class="centered-image">
    <img src="assets/img/logo.png" alt="logo">
  </div>

  <ion-card color="purple">
    <h1 style="color: azure;">
      Bienvenido {{ mensaje }}
    </h1>
s  </ion-card>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button [routerLink]="['/formulario']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let mascota of fotosMascotas">
    <ion-card-header>
      <ion-card-title>Mascota {{ mascota.id }}</ion-card-title>
    </ion-card-header>
    <img [src]="mascota.foto" *ngIf="mascota.foto" alt="Foto de mascota" class="captured-image">

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/puddle.png" />
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="eliminarFoto(mascota.id)" color="danger" expand="full">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="takePicture()" class="gradient-button">Tomar Foto</ion-button>
  <ion-button [routerLink]="['/product-add']" class="gradient-button">Agregar</ion-button>
  <ion-button [routerLink]="['/localizacion']" class="gradient-button">Obtener Ubicacion</ion-button>

</ion-content>
