<ion-content>
    <div class="centered-image">
    <img src="assets/img/logo.png" alt="logo">
    </div>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Perrito" src="https://hips.hearstapps.com/hmg-prod/images/perritos-de-instagram-1616062929.jpg?crop=0.492xw:0.908xh;0.508xw,0.0917xh&resize=1200:*" />
        </ion-thumbnail>
        <ion-label>Nombre: Perrito</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-content>
