/* Estilos para la imagen centrada */
.centered-image {
  display: block;
  margin: 20px auto;
  max-width: 100px;
  height: auto;
}

.purple-card {
  background-color: #1c0e2e; /* Color morado predeterminado */
  color: rgb(34, 23, 23); /* Cambia el color del texto según sea necesario */
}
