<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" (ionChange)="validarNombre()"></ion-input>
      </ion-item>
      <ion-item *ngIf="mostrarMensajeNombre" color="danger">
        <ion-text>
          Ingrese un nombre válido (solo letras).
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" (ionChange)="validarApellido()"></ion-input>
      </ion-item>
      <ion-item *ngIf="mostrarMensajeApellido" color="danger">
        <ion-text>
          Ingrese un apellido válido (solo letras).
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="correo" (ionChange)="validarCorreo()"></ion-input>
      </ion-item>
      <ion-item *ngIf="mostrarMensajeCorreo" color="danger">
        <ion-text>
          Ingrese un correo electrónico válido.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena" (ionChange)="validarContrasena()"></ion-input>
      </ion-item>
      <ion-item *ngIf="mostrarMensaje" color="danger">
        <ion-text>
          La contraseña debe contener al menos 4 letras, una mayúscula y cuatro números.
        </ion-text>
      </ion-item>

      <ion-button expand="full" (click)="register()" >
        Registrarse
      </ion-button>

      <ion-item *ngIf="registroExitoso" color="success">
        <ion-text>
          ¡Registro exitoso! Serás redirigido a la página de inicio de sesión.
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
