<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscream>
  <ion-card class="purple-card">
    <ion-card-content>
      <div class="centered-image">
        <img src="assets/img/logo.png" alt="logo">
      </div>

      <form [formGroup]="formularioregistro" class="color">
        <ion-card>
          <ion-item>
            <ion-label position="floating">Correo </ion-label>
            <ion-input formControlName="correo"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label position="floating"> confirmar Contraseña</ion-label>
            <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
          </ion-item>
        </ion-card>

      </form>

      <ion-buttons class="ion-justify-content-center">
        <ion-button (click)="guardar()" class="gradient-button">Registrarse</ion-button>
      </ion-buttons>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


    </ion-card-content>

  </ion-card>
</ion-content>

